.small_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.wrapper{
    margin-bottom: 100px;
}

.input__title{
    margin-top: 50px;
}
    
.text{
    width: 450px;
}

.info_img {
    width: 400px;
    border-radius: 45px 0;
}